<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="CNPJCliente" value="00000000000000" />
		<add key="UFCliente" value="PR" />
		<add key="PastaEnvioUninfe" value="c:\temp\ConsCCon" />
		<add key="PastaRetornoUninfe" value="c:\temp\ConsCCon" />
		<add key="PastaArquivoCSV" value="c:\temp" />
		<!-- Posição inicia com 1 -->
		<add key="ColunaCnpj" value="1" />
		<add key="ColunaUF" value="3"/>
		<add key="TagsRetornoXml" value="IE;CNPJ;xNome;xLgr;nro;xCpl;xBairro;cMun;xMun;CEP;cPais;xPais;fone;email;cSit;xSit;dhSit;cNAE;cnae;CRT;indCredNFe;CSOSN"/>
    <!-- 
			Padrões aceitos: DDMMYYYY, YYYYMMDD, YYYYMM, MMYYYY 
      Deve incluir a extensão.
	  -->
    <add key="NomeArquivoCSV" value="cons_cnpj_DDMMYYYY.csv"/>
	</appSettings>
</configuration>