<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="CNPJCliente" value="00000000000000" />
		<add key="UFCliente" value="PR" />
		<add key="PastaEnvioUninfe" value="c:\temp" />
		<add key="PastaRetornoUninfe" value="c:\temp" />
		<add key="PastaArquivoCSV" value="c:\temp" />
		<!-- Posição inicia com 1 -->
		<add key="LinhaInicialBaseCNPJ" value="2" />
		<add key="ColunaInicialBaseCnpj" value="1" />
	</appSettings>
</configuration>